server{

	listen 10001;
	server_name test.fr;
	host 127.0.0.1;
	root	./www;
	index index.html;
	error_page 404 ./www/errors/404.html;
	error_page 500 ./www/errors/500.html;
	error_page 405 ./www/errors/405.html;
	#jhdjdsjds
	max_body		30000000;   #hjdjhd   


    location / {
        allow_methods   POST GET;
		root	./www;
    }
    location /js {
        allow_methods   POST GET;
		autoindex on;
    }

    location /upload {
		root ./www/tmp
		allow	delete get post;
        autoindex	on;
    }

	location /redir {
		allow	get;
		return		https://signin.intra.42.fr/;
	}

	location /local {
		allow	post get ;
		rewrite		/js;
	}

	location /python {
		root			./www/python;
		index_page		test.py;
		allow			POST GET;
		cgi				.py /usr/bin/python3;
	}

	location /cpp {
		allow	POST GET;
		root			./www/cpp;
		index_page		test.out;
		cgi				.out ./www/cpp/test.out;

	}

}
server{

	#listen 10001;
	server_name test.fr;
	host 127.0.0.1:10002;
	root	./www;
	index index.html;
	error_page 404 ./www/errors/404.html;
	error_page 500 ./www/errors/500.html;
	error_page 405 ./www/errors/405.html;
	#jhdjdsjds
	max_body		30000;   #hjdjhd   


    location / {
        allow_methods   POST GET;
		root	./www;
    }
    location /js {
        allow_methods   POST GET;
		autoindex on;
    }

    location /upload {
		root ./www/tmp
		allow	delete get post;
        autoindex	on;
    }

	location /redir {
		allow	get;
		return		https://signin.intra.42.fr/;
	}

	location /local {
		allow	post get ;
		rewrite		/js;
	}

	location /python {
		root			./www/python;
		index_page		test.py;
		allow			POST GET;
		cgi				.py /usr/bin/python3;
	}

	location /cpp {
		allow	POST GET;
		root			./www/cpp;
		index_page		test.out;
		cgi				.out ./www/cpp/test.out;

	}

}





